@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

/* Button with animated, rounded border */
.rainbow {
  font-size: 1rem;
  border-radius: '999px';
  border-width: 0.2rem;

  border-style: solid;
          /* This makes border rounded */
  padding: 0.5rem 2rem;
  
  
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 14px #6b1fff55;
  border-image: conic-gradient(
    from var(--angle),
    var(--c2),
    var(--c1) 0.12turn,
    var(--c1) 0.17turn,
    var(--c2) 0.25turn,
    transparent 1turn
  ) 1;
  /* 1 = border-image slice for sharp gradient */
  animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 450deg;
  }
}
